<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>

<h1><%= student ? "Edit Student" : "Add New Student" %></h1>
<form method="POST" action="<%= student ? '/students/update/' + student.id : '/students' %>" >
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  <div>
    <label for="firstName">First name:</label>
    <input name="firstName" id="firstName" value="<%= student ? student.firstName : '' %>" />
  </div>
  <div>
    <label for="secondName">Second name:</label>
    <input name="secondName" id="secondName" value="<%= student ? student.secondName : '' %>" />
  </div>
  <div>
    <label for="surname">Surname:</label>
    <input name="surname" id="surname" value="<%= student ? student.surname : '' %>" />
  </div>
  <div>
    <label for="dateOfBirth">Date of birth:</label>
    <input name="dateOfBirth" id="dateOfBirth" value="<%= student ? student.dateOfBirth : '' %>" />
  </div>
  <div>
    <label for="admNumber">Admission number:</label>
    <input name="admNumber" id="admNumber" value="<%= student ? student.admNumber : '' %>" />
  </div>
  <div>
    <label for="className">Class Name:</label>
    <input name="className" id="className" value="<%= student ? student.className : '' %>" />
  </div>
  <div>
    <button onClick="submit"><%= student ? "Edit Student" : "Add New Student" %></button>
    <a href="/students">
      <button type="button">Cancel</button>
    </a>
  </div>
</form>
<%- include("partials/footer.ejs") %>